<ion-header>
  <ion-toolbar>
      <ion-grid>
          <ion-row>
            <ion-col size="10">
                <h4 style="margin-top:0">{{titleHeader}}</h4> 
            </ion-col>
            <ion-col size="2">  
                  <ion-icon style="font-size: 25px;cursor: pointer;color: #036479;" name="close" (click)="closemodel()">
                  </ion-icon>
            </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!submitedMobile">
    <div style="font-size:13px; margin: 10px 0">Enter your mobile number.</div><br>
    <form novalidate [formGroup]="mobileForm">
        <input type="number" name="mobileno" class="form-control"
        placeholder="10 digit mobile number"
        oninput="validity.valid||(value='')"
        onKeyPress="if(this.value.length==10) return false;"
        (keyup)="enablebutton($event)"
        formControlName="mobile_no" />
        <button [disabled]="validbutton" class="btn float-right login_btn" (click)="getOtp(mobileForm.value)">Send OTP</button>
    </form>
  </div>

  <div *ngIf="otpSection">
      <form novalidate [formGroup]="otpForm">
          <input type="number" name="otp" class="form-control"
          placeholder="OTP"
          oninput="validity.valid||(value='')"
          onKeyPress="if(this.value.length==4) return false;"
          (keyup)="enableotpbutton($event)"
          formControlName="otp" />
          <button [disabled]="validotpbutton" class="btn float-right login_btn" (click)="submitOtp(otpForm.value)">Submit OTP</button>
      </form>
  </div>

  <div *ngIf="newPasswordsection">
      <form novalidate [formGroup]="newPassForm">
          <input type="text" name="new_password" class="form-control"
          placeholder="New password"
          oninput="validity.valid||(value='')"
          formControlName="new_password" />
          <button class="btn float-right login_btn" (click)="resetPassword(newPassForm.value)">Update</button>
      </form>
  </div>
</ion-content>
